

body {
  margin: 0;
  font-family: 'Dela Gothic One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: linear-gradient(#e66465, #9198e5);*/

  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(25, 68, 81, 0.8) 30%, rgba(0,0,0,1) 50%);
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
